:root {
  --cor-primaria: #5653f3;
  --cor-secundaria: #c8c7ff;
  --cor-contraste: #8180f1;
  --cor-background: white;
}

@font-face {
  font-family: Nexa-Heavy;
  src: local(Nexa-Heavy), url(../Assets/nexa/Nexa-Heavy.ttf);
}

@font-face{
  font-family: Nexa;
  src: local(Nexa-Light), url(../Assets/nexa/Nexa.ttf);
}

* {
  margin: 0;
  padding: 0;
  max-height: 100%;
  max-width: 100%;
  font-family: Nexa-Heavy;
  box-sizing: border-box;
}

.body-login {
  background-color: var(--cor-secundaria);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.continer-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 65vh;
  width: 115vh;
  background-color: var(--cor-background);
  border-radius: 50px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.inside-login {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-login {
  font-size: 50px;
}

.form-login, .form-logon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-login form, .form-logon form {
  display: flex;
  flex-direction: column;
}

.form-login form input, .form-logon form input  {
  transition: all 0.2s ease-in-out;
  width: 35vh;
}

.form-login form input:hover, .form-logon form input:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.input-login, .input-logon {
  margin: 10px 0;
  padding: 10px;
  border-radius: 15px;
  background-color: #CFCFCF;
  border: none;
}

.button-login, .button-logon {
  margin: 15px 0;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--cor-primaria);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button-login:hover, .button-logon:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.toggle-button {
  background-color: transparent;
  color: var(--cor-primaria);
  border: none;
  cursor: pointer;
  margin-bottom: 5%;
}

.toggle-button:hover {
  text-decoration: underline;

}

.container-erro-login {
  background-color: rgba(255, 0, 0, 0.75);
  width: 100%;
  height: 5vh;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.cntainer-cadastro-login {
  background-color: rgba(0, 128, 0, 0.75);
  width: 100%;
  height: 5vh;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.direita-login {
  background-color: var(--cor-primaria);
  height: 100%;
  width: 50%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-direita-login {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
  cursor: alias;
}

.direita-login img {
  width: 45%;
  height: 40%;
}

/* Animações */
.fadeInLeft {
  animation: fadeInLeft 0.5s forwards;
}

.fadeOutLeft {
  animation: fadeOutLeft 0.5s forwards;
}

.fadeInRight {
  animation: fadeInRight 0.5s forwards;
}

.fadeOutRight {
  animation: fadeOutRight 0.5s forwards;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50px);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(50px);
  }
}



/* css da tela matriz */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;
  background-color: var(--cor-background);
}

header {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  top: 0;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8vh;
}

nav {
  width: 20%;
  max-width: 200px;
  background-color: var(--cor-primaria);
  height: calc(100vh - 8vh);
}

main {
  width: 100%;
}

header img {
  width: 7vh;
  height: 7vh;
}

.meio-header-home {
  display: flex;
  align-items: center;
}

.meio-header-home h1 {
  margin-left: 1rem;
  font-size: 2rem;
  color: var(--cor-primaria);
}

.user-icon-home {
  width: 7vh;
  height: 7vh;
}


nav {
  width: 4.5%;
  height: 92vh;
  background-color: var(--cor-primaria);
  position: relative;
  text-align: left;
  z-index: 1;
  pointer-events: auto;
  transition: 0.3s;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 20px;
}

.active-nav {
  width: 30%;
}

.menu-icon-nav-home {
  z-index: 2;
  width: fit-content;
  height: 5vh;
  position: relative;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.line1, .line2, .line3 {
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.2rem;
  background-color: var(--cor-primaria);
  border-radius: 50px;
  transition: 0.2s;
}

.active .line1 {
  transform: translate(0, 0.7rem) rotate(45deg);
}

.active .line2 {
  opacity: 0;
}

.active .line3 {
  transform: translate(0, -0.7rem) rotate(-45deg);
}

nav {
  padding-top: 2rem;
}

nav ul {
  margin: 0 0.3rem;
}

nav ul li {
  list-style: none;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

nav ul li img {
  width: 1.6rem;
  height: 1.5rem;
}

nav ul li a {
  color: #fff;
  font-size: 1.75vh;
  padding: 0.5rem 1rem;
  text-decoration: none;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  font-family: Nexa-Heavy;
}

.active-nav ul li a {
  opacity: 1;
}

nav ul li:hover {
  background-color: #716fea;
  border-radius: 0.5rem;
}

main {
  width: 100%;
  height: calc(100vh - 8vh);
  display: flex;
  flex-direction: row;
}


/* css da tela inicial */

.textos-home{
  width: 60%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  color: var(--cor-contraste);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.textos-home h1{
  font-size: 125px;
  span{
    color: var(--cor-primaria);
  }
}

.nina-home{
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  padding-right: 4%;
}


.textos-home div{
  width: 100%;
  height: 15%;
  margin-top: 5%;
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  h1{
    font-size: 75px;
  }
  img{
    width: 15%;
    height: 90%;
    margin-right: 5%;
  }
}